/* Global styles */
body {
    font-family: Arvo;
}

img {
    max-width: 100%;
    margin-bottom: 20px;
}


h1 {
    text-align: center;
    margin: 25px;
    margin-top: 100px;
  }

.navbar {
    margin-bottom: 50px;
}

.column-spacing {
    margin-right: 50px;
}

.process-form{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.process-form .col-md-5 h3 {
    text-align: center;
  }

.menu {
    margin-top: 100px;
    width: 25%;
}

.second-col {
    margin-top: 75px;
}

/* Form styles */
.form-group {
    margin-bottom: 1rem;
}

.form-row {
    margin-bottom: 1rem;
}

.form-check-inline {
    margin-right: 1rem;
}

/* Button styles */
.btn-primary {
    background-color: #7e99ca;
}

.btn-primary:hover {
    background-color: #3c6c9e;
}

.dat {
    margin: 0px 15px 10px 0px;
}