{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Monika Zjavková's Website</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
	<form method="post" enctype="multipart/form-data" action="{% url 'process' %}">
		{% csrf_token %}
		<div class="form-group">
		  <label for="threshold">Threshold:</label>
		  <input type="range" class="form-control-range" id="threshold" name="threshold" min="0" max="100" value="50">
		</div>
		<div class="form-group">
		  <label for="distance">Distance between peaks:</label>
		  <input type="range" class="form-control-range" id="distance" name="distance" min="0" max="100" value="50">
		</div>
		<div class="form-group">
		  <label for="ppm">PPM scale:</label>
		  <input type="range" class="form-control-range" id="ppm" name="ppm" min="-1" max="10" value="5">
		</div>
		<div class="form-group">
			<label for="file">Choose a file:</label>
			<input type="file" class="form-control-file" id="directory" name="directory" webkitdirectory directory>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	  </form>

</body>
</html>
