
{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <title>My NMR App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?{% now 'U' %}">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="#spectra">Process Spectrum</a>
            </li>
          </ul>
          <button class="btn btn-outline-secondary">
            <a href="{% url 'menu' %}">Back</a>
             </button>
          </div>
        </div>
        </nav>
        <div class="container">
            <h1>Spectra Database</h1>
            <form method="POST" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control"  id="search_compound" name="search_compound"  placeholder="Compound Name">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control"  id="search_spectrum" name="search_spectrum"  placeholder="Formated Spectrum">
                        </div>
                    </div>
                    <div class="col">
                        <button type="submit" name="search" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
            <hr>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Compound</th>
                    <th scope="col">Spectrum</th>
                    <th scope="col">Processed by</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for spectrum in spectra %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ spectrum.compound.name }}</td>
                      <td>{{ spectrum.formated }}</td>
                      <td>{{ spectrum.user.name }}</td>
                      <td>{{ spectrum.timestamp }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>            
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
